.card{
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
    /* border-color: transparent */
}

.container-card{
    margin-top: 100px;
}

.code-card{
    margin-top: 30px;
}

.stats-card{
    margin-top: 100px;
}